{% extends "base.html" %}
{% block content %}
{% comment %} <h2>Index Template</h2> {% endcomment %}

{% comment %} <div class="alert alert-success" role="alert">
    A simple success alert—check it out!
    </div>
    <div class="alert alert-danger" role="alert">
    A simple danger alert—check it out!
    </div>
    <div class="alert alert-warning" role="alert">
    A simple warning alert—check it out!
</div> {% endcomment %}

{% comment %} <button type="button" class="btn btn-primary">Primary</button>
<a href="#" class="btn btn-secondary">Secondary</a>
<button type="button" class="btn btn-danger">Danger</button> {% endcomment %}

{% comment %} <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle"
    id="dropdownMenuButton1" type="button" data-bstoggle="dropdown" aria-expanded="false">
    BootStrap Dropdown
    </button>
    <ul class="dropdown-menu" arialabelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">Item 1</a></li>
        <li><a class="dropdown-item" href="#">Item 2</a></li>
        <li><a class="dropdown-item" href="#">Item 3</a></li>
    </ul>
</div> {% endcomment %}

{% comment %} <button type="button" class="btn btn-primary" data-bstoggle="modal" data-bs-target="#example-modal">Open Modal</button>
<div class="modal" id="example-modal" tabindex="-1" arialabelledby="example-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="example-modal-label">Modal Title</h5>
                <button type="button" class="btn-close" data-bsdismiss="modal" aria-label="Close"></button>
            </div>
        <div class="modal-body">Modal Body</div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bsdismiss="modal">Close</button>
        </div>
    </div>
</div> {% endcomment %}

{% comment %} <ul class="pagination">
    <li class="page-item disabled">
    <a class="page-link" href="#" tabindex="-1" ariadisabled="true">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a>
    </li>
    <li class="page-item active" aria-current="page">
    <a class="page-link" href="#">2</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">3</a>
    </li>
    <li class="page-item">
    <a class="page-link" href="#">Next</a>
    </li>
</ul> {% endcomment %}

<h2>Hello in a Container</h2>

{% comment %} <div class="row">
    <div class="col bg-primary">Column 1</div>
    <div class="col bg-danger">Column 2</div>
    <div class="col bg-success">Column 3</div>
</div> {% endcomment %}

{% comment %} <div class="row">
    <div class="col-6 bg-primary">Column 1</div>
    <div class="col bg-danger">Column 2</div>
    <div class="col bg-success">Column 3</div>
</div> {% endcomment %}

<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-6 bg-primary">Column
    1</div>
    <div class="col-xs-12 col-sm-2 col-md-2 bg-danger">Column
    2</div>
    <div class="col bg-success">Column 3</div>
</div>
{% endblock %}
